* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.authentication {
  width: 100%;
  display: none;
  height: 100vh;
  background-color: #fff;
}
.authentication .authentication-page {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px;
}
.authentication .authentication-page h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}
.authentication .authentication-page form .form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 28px;
  color: #7D7D7D;
}
.authentication .authentication-page form .form-group label {
  font-size: 14px;
  font-weight: 500;
}
.authentication .authentication-page form .form-group input {
  width: calc(100vw - 40px);
  height: 50px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.authentication .authentication-page form .form-group.no-margin {
  margin-bottom: 0;
}
.authentication .authentication-page form .toForgot {
  font-size: 12px;
  margin: 6px 0px 24px !important;
  text-align: right;
  color: #FF9314;
}
.authentication .authentication-page form button {
  width: calc(100vw - 40px);
  height: 55px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #321D0B;
  margin-bottom: 19px;
}
.authentication .authentication-page p {
  color: #7D7D7D;
}
.authentication .authentication-page p .toLogin, .authentication .authentication-page p .toRegister {
  color: #FF9314;
}
.authentication .authentication-page.active {
  display: flex;
}
.authentication.active {
  display: block;
}

#pages {
  width: 100%;
  height: auto;
  padding: 10px 20px 110px;
  background-color: #fff;
}
#pages #homepage {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
#pages #homepage .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#pages #homepage .top .top-msg .hi-msg {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
#pages #homepage .top .top-msg .hi-msg span {
  color: #FF9314;
}
#pages #homepage .top .top-msg .location {
  font-size: 14px;
  color: #FF9314;
  display: flex;
  align-items: center;
}
#pages #homepage .top .favorite-btn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background-color: #321D0B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}
#pages #homepage .hero {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
}
#pages #homepage .hero img {
  width: 100%;
  height: 100%;
}
#pages #homepage .recommended-section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
#pages #homepage .recommended-section .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#pages #homepage .recommended-section .cards .card {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#pages #homepage .recommended-section .cards .card img {
  width: 100%;
  height: 145px;
}
#pages #homepage .recommended-section .cards .card .caption {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px;
}
#pages #homepage .recommended-section .cards .card .caption h4 {
  font-size: 14px;
  font-weight: 500;
}
#pages #homepage .recommended-section .cards .card .caption .product-details {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
}
#pages #homepage .recommended-section .cards .card .caption .product-details .product-price {
  color: #FF9314;
}
#pages #homepage .recommended-section .cards .card .caption .product-details .product-size {
  color: #717171;
}
#pages #homepage .popular-brands h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}
#pages #homepage .popular-brands .brand-cards {
  display: flex;
  gap: 20px;
}
#pages #homepage .popular-brands .brand-cards .brand-card {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
#pages #homepage .popular-brands .brand-cards .brand-card img {
  width: 90%;
  height: 90%;
}
#pages #homepage .categories h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}
#pages #homepage .categories .category-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#pages #homepage .categories .category-cards .category-card {
  width: 100%;
  height: 90px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
#pages #homepage .categories .category-cards .category-card img {
  width: 70px;
  height: 70px;
}
#pages #homepage .categories .category-cards .category-card .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}
#pages #homepage .categories .category-cards .category-card .caption h4 {
  font-size: 14px;
  font-weight: 600;
}
#pages #homepage .categories .category-cards .category-card .caption p {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #717171;
}/*# sourceMappingURL=main.css.map */