//* Colors
//* Light theme colors
$light-theme-color: #fff;
$light-variant-color: #7d7d7d;

//* Dark theme colors
$dark-theme-color: #111827;
$dark-variant-color: #1C2431;

$unhover-text-color: #848484;
$browm-color: #321D0B;
$orange-color: #FF9314;

//* FONTS
$font: "Poppins", sans-serif;