//* Colors
//* Light theme colors
$light-theme-color: #fff;
$light-variant-color: #f5f5f5;
$light-border-color: #d9d9d9;
$light-primary-color: #321D0B;
$light-bg-color: #EFEFEF;
$title-color: #2d2d2d;

//* Dark theme colors
$dark-theme-color: #111827;
$dark-variant-color: #1C2431; // Light primary color, Light bg color
$dark-border-color: #1D2839;

$unhover-text-color: #848484;
$second-color: #7d7d7d;
$orange-color: #FF9314;

//* FONTS
$font: "Poppins", sans-serif;

//* SHADOWS
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;