//Colors
// Background color
$bg-color: #fff;
// Cards color
$primary-color: #fff;
// Button color
$btn-color: #321D0B;
$btn-text-color: #fff;
// Navigation bar color
$nav-color: #321D0B;
// Text colors
$text-color: #FF9314;
// Input bg color
$input-color: #F5F5F5;
$input-text-color: #aaa;
$input-border-color: #D9D9D9;
// Title color (e.x: Hello, John!, RECOMMENDED FOR YOU, COFFE SHOP)
$title-color: #321D0B;
// Light text color
$light-color: #7D7D7D;



//Box shadow
$box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;